<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>掲示板</title>
<link th:href="@{webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet"/>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script th:href="@{webjars/jquery/3.5.1/js/jquery.min.js}"></script>
    <script th:href="@{webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</head>
<body>
	<!-- ヘッダーナビゲーション  -->
	<nav class="navbar navbar-light justify-content-center" style="background-color: #e3f2fd;">
		<!--  検索アイコン -->
	  	<a href="#"  class="pl-2"><i class="fas fa-search"></i></a>
		<!-- 編集アイコン  -->
  		<a href="#"  class="pl-2"><i class="far fa-edit"></i></a>
  		<a href="#" >掲示板</a>
	</nav>
	<!-- snsのボタン領域  -->
	<div class="text-center mt-2">
		<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">ツイートする</a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>

	<!-- 投稿ボタン   -->
	<div class="text-center mt-2">
		<button class="btn btn-primary">掲示板へ投稿する</button>
	</div>
	<div class="container">
		<!-- 登録されているタグ一覧を表示するエリア  -->
		<div class="row">
			<div class="col-1">
				<p>タグ1</p>

			</div>
			<div class="col-1">
				<p>タグ2</p>
			</div>
		</div>
		<!-- タグリストボタン配置  -->
		<div class="text-center mb-4">
			<button class="btn btn-primary">タグリスト</button>

		</div>

		<!-- 掲示板投稿一覧が入る  -->
		<div class="row">
			<div class="col-4">
				<div class="card">
					<p class="text-center">なんかのアカウント名が入る</p>
					<div class="card-body">
						<h5 class="card-title">掲示板に投稿するときの題名</h5>
						<p class="card-text">掲示板に投稿するときの詳細</p>
						<p class="card-text text-right">投稿日時が入る</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<p class="text-center">なんかのアカウント名が入る２</p>
					<div class="card-body">
						<h5 class="card-title">掲示板に投稿するときの題名２</h5>
						<p class="card-text">掲示板に投稿するときの詳細２</p>
						<p class="card-text text-right">投稿日時が入る</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<p class="text-center">なんかのアカウント名が入る３</p>
					<div class="card-body">
						<h5 class="card-title">掲示板に投稿するときの題名３</h5>
						<p class="card-text">掲示板に投稿するときの詳細３</p>
						<p class="card-text text-right">投稿日時が入る</p>
					</div>
				</div>
			</div>
		</div>
		<!--  ２段目 -->
		<div class="row mt-4">
			<div class="col-4">
				<div class="card">
					<p class="text-center">なんかのアカウント名が入る４</p>
					<div class="card-body">
						<h5 class="card-title">掲示板に投稿するときの題名４</h5>
						<p class="card-text">掲示板に投稿するときの詳細４</p>
						<p class="card-text text-right">投稿日時が入る</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<p class="text-center">なんかのアカウント名が入る５</p>
					<div class="card-body">
						<h5 class="card-title">掲示板に投稿するときの題名５</h5>
						<p class="card-text">掲示板に投稿するときの詳細５</p>
						<p class="card-text text-right">投稿日時が入る</p>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<p class="text-center">なんかのアカウント名が入る６</p>
					<div class="card-body">
						<h5 class="card-title">掲示板に投稿するときの題名６</h5>
						<p class="card-text">掲示板に投稿するときの詳細６</p>
						<p class="card-text text-right">投稿日時が入る</p>
					</div>
				</div>
			</div>
		</div>

		<!-- ページネーション  -->
		<nav aria-label="Page navigation" class="mt-4">
			 <ul class="pagination">
    			<li class="page-item disabled"><a class="page-link" href="#">Prev</a></li>
   				<li class="page-item active">
      			<span class="page-link">
        		1<span class="sr-only">(current)</span>
      			</span>
    			</li>
   				 <li class="page-item"><a class="page-link" href="#">2</a></li>
   				 <li class="page-item"><a class="page-link" href="#">3</a></li>
   				 <li class="page-item"><a class="page-link" href="#">Next</a></li>
  			</ul>
		</nav>
	</div>

</body>
</html>